<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <%# <p>insert image here</p> %>
    </div>
    <div class="col">
      <h2 class="mb-3"><%= @book.title %></h2>
      <p><strong>Author:</strong> <%= link_to @book.author.name, author_path(@book.author) %></p>
      <p><strong>Synopsis:</strong> <%= @book.synopsis %></p>
      <p><strong>Number of pages:</strong> <%= @book.pages %></p>
      <p><strong>Genre:</strong> <%= @book.genre %></p>
      <p><strong>Publisher:</strong> <%= Faker::Book.publisher %></p>
    </div>
  </div>
</div>