<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6">
      <p>insert image here</p>
    </div>
    <div class="col">
      <h2 class="mb-3"><%= @book.title %></h2>
      <p><strong>Author:</strong> <%= @book.author.name %></p>
      <p><strong>Synopsis:</strong> <%= @book.synopsis %></p>
      <p><strong>Number of pages:</strong> <%= %></p>
      <p><strong>Genre:</strong> <%= %></p>
      <p><strong>Publisher:</strong> <%= %></p>
    </div>
  </div>
</div>