<section class="hero is-small is-link">
  <div class="hero-body">
    <h1 class="title"><%= link_to "Data-Driven Rails Application", root_path %></h1>
  </div>
</section>

<div class="tabs is-medium">
  <ul>
    <li><%= link_to "Home", root_path%></li>
    <li><%= link_to "About", root_path%></li>
    <li><%= link_to "Authors", root_path%></li>
    <li><%= link_to "Books", books_path %></li>
    <li><%= render partial: "books/searchform" %></li>
  </ul>
</div>